* {
    /*  color: green; */
}

p {
    color: red !important;
}

p {
    color: blueviolet;
    font-size: 20px;
    font-size: 20px;

}

.para {
    /*  color: black; */
}

#para {
    /* color: purple; */
}

header p{
      color: royalblue !important; 
}
